# Django
DJANGO_SECRET_KEY=your-django-secret-key
DJANGO_DEBUG=False
SERVER_IP=your-server-public-ip
SITE_DOMAIN=yourdomain.com
# Comma-separated; include server IP and domain(s)
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,your-server-ip,yourdomain.com,www.yourdomain.com

# Database / Storage (examples)
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
DATABASE_URL=your-database-url
